out/
backup/

*.ipynb
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
data/__pycache__/
expander/__pycache__/
models/__pycache__/

postprocess/data
postprocess/*.png
postprocess/output

.idea/
.vscode/
*.pyc
